%absolute-centralize {
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes animate {
  to {
    left: -20%;
  }
}

.img {
  height: 100vh;
  position: relative;
  img {
    will-change: left;
    height: 100%;
    width: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    animation-name: animate;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

h1 {
  margin: 0;
}

.container {
  font-family: 'Josefin Sans';
  background-color: rgba(255, 255, 255, .5);
  width: 80%;
  height: 50%;
  border-radius: 3px;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, .4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 12vh;
  right: 0;
  left: 0;
  margin: auto;

  button {
    margin: 10px auto;
    width: 80%;
    font-family: 'Josefin Sans';
    font-size: 15px;
  }
}