%absolute-centralize {
  position: absolute;
  left: 0;
  top: 0;
}

:host {
  background-color: antiquewhite;
}

.container {
  //extend %absolute-centralize;
  background-color: rgba(255, 255, 255, .5);
  width: 80%;
  margin: auto;
  height: 60%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  button {
    margin: 10px auto;
    width: 80%;
  }
}