<div *ngIf="events">
  <div class="list-item"
       [routerLink]="['/app', 'event', event.$key]"
       *ngFor="let event of events">
    <md-card class="example-card">
      <md-card-header>
        <h2>{{event.name}}</h2>
        <button md-raised-button class="example-margin" *ngIf="!isUserParticipated" (click)="participate()">Participate</button>
      </md-card-header>
      <img class="event-image" (load)="loadImg($event)" md-card-image [src]="event.image || 'src/assets/default-event.png'">
      <md-card-content>
        <p>{{event.description}}</p>
      </md-card-content>
    </md-card>
  </div>
</div>
