<md-toolbar>Facebook events</md-toolbar>
<md-list>
  <md-list-item *ngFor="let event of facebookEvents" (click)="toFacebookEvent(event)">
    <img md-list-avatar [src]="event.icon" (load)="loadImg($event)">
    <h3 md-line> {{event.name}} </h3>
    <p md-line>
      <span> {{event.start_time}} </span>
      <span class="demo-2"> -- </span>
    </p>
  </md-list-item>
</md-list>
<md-list>
  <md-list-item *ngFor="let event of events" (click)="toEvent(event)">
    <img md-list-avatar [src]="event.icon" (load)="loadImg($event)">
    <h3 md-line> {{event.name}} </h3>
    <p md-line>
      <span> {{event.price}} </span>
      <span class="demo-2"> -- </span>
    </p>
  </md-list-item>
</md-list>