<nav md-tab-nav-bar *ngIf="eventId">
  <a md-tab-link
     [routerLink]="['/app', 'event', eventId, 'info']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Info
  </a>
  <a md-tab-link
     [routerLink]="['/app', 'event', eventId, 'participants']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Participants
  </a>
  <a md-tab-link
     [routerLink]="['/app', 'event', eventId, 'chat']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Chat
  </a>
</nav>
<main #main>
  <md-card *ngFor="let message of messages" [class.mine]="message.owner">
    <md-card-header [ngClass]="{' align-right': message.owner}">
      <img md-card-avatar [src]="message.userData.photoURL" />
      <md-card-title>{{message.userData.displayName}}</md-card-title>
      <md-card-subtitle>{{message.sendAt}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        {{message.message}}
      </p>
    </md-card-content>
  </md-card>
</main>
<footer>
  <md-input-container>
    <textarea mdInput placeholder="Type your message:" #message></textarea>
  </md-input-container>
  <button md-raised-button class="float-right" color="primary" (click)="sendMessage(message.value)">Send</button>
</footer>