<md-tab-group>
  <md-tab label="Profile Info">
    <md-card class="profile">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{currentUser.displayName}}</md-card-title>
        <md-card-subtitle>{{currentUser.email}}</md-card-subtitle>
        <md-card-subtitle>Logged with: {{currentUser.providerData[0].providerId}}</md-card-subtitle>
        <md-slide-toggle [checked]="theme" (change)="changeColorScheme($event)">Dark scheme</md-slide-toggle>
      </md-card-header>
      <img class="profile--img" md-card-image [src]="currentUser.photoURL">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Organized by Me">
    <app-organized></app-organized>
  </md-tab>
  <md-tab label="Participate in">
    <app-participated></app-participated>
  </md-tab>
</md-tab-group>


