.main{
  height: 100vh;

  .title {
    text-transform: uppercase;
    font-size: 20px;
    color: whitesmoke;
    margin: 0 0 0 auto;
    font-weight: normal;
  }

  &--sidenav {
    width: 75vw;
    min-width: 285px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  &--sidenavItem {
    cursor: pointer;
    font-family: 'Josefin Sans', serif;
    text-transform: uppercase;
    color: #3b3b3b;
    font-size: 30px;
    height: 70px;
    margin: 20px 0;

    &:after {
      width: 0;
      content: '';
      display: block;
      height: 3px;
      opacity: .5;
      transition: all 1s ease-in-out;
      background: #008ca9;
    }

    &:hover {
      &:after {
        width: 90%;
        transition: all 1s ease-in-out;
      }
    }
  }

  &--sidenavCall {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1000000000000;
  }
}

.menu {
  font-size: 24px;
  cursor: pointer;
}
