:host {
  height: 100vh;
  overflow: hidden;
}

.main--sidenavCall {
  position: absolute;
  top: 50px;
  right: 2px;
  z-index: 10000;
}

.main--sidenav {
  z-index: 10000;
}

.filter-events {
  display: flex;
  flex-wrap: wrap;
}

.search {
  padding-top: 20px;
  color: #3c3c3c;
  text-transform: uppercase;

  &--section {
    display: flex;
    flex-direction: column;
  }

  &--sectionTitle {
    font-size: 1.4em;
    color: #008ca9;
    margin-bottom: 5px;
  }

  &--checkbox {
    margin: 5px 10px;
  }
}

.searchTitle {
  color: #9b9b9b;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
agm-map {
  height: 100vh;
}
