<md-sidenav-container class="main">
  <md-sidenav [align]="'end'" class ='main--sidenav' #sidenav [mode]="'over'">
    <div class="filter-events">
      <md-card class="search">
        <md-card-title class="searchTitle">
          <md-input-container>
            <input mdInput placeholder="Event name"  (change)="onQueryChange()" [(ngModel)]="searchQuery">
          </md-input-container>
        </md-card-title>
        <md-card-content>
          <section class="search--section">
            <p class="search--sectionTitle">Category</p>
            <md-checkbox md-line class="search--checkbox"
                         *ngFor="let category of options.category"
                         [(ngModel)]="category.value">{{category.name}}</md-checkbox>
          </section>
          <section class="search--section inline">
            <p class="search--sectionTitle">Price</p>
            <md-slider
                    (change)="onPriceChange()"
                    class="search--slider"
                    [max]="1000"
                    [min]="0"
                    [step]="10"
                    [disabled]="options.price.isFree"
                    [(ngModel)]="options.price.value">
            </md-slider>
            <!--<a md-fab><p>&#8372; {{!options.price.isFree && options.price.value || 0}}</p></a>-->
            <!--<md-checkbox class="search&#45;&#45;checkbox" [(ngModel)]="options.price.isFree">free</md-checkbox>-->
          </section>

          <section class="search--section inline">
            <p class="search--sectionTitle">Radius</p>
            <md-slider
                    class="search--slider"
                    [max]="5000"
                    [min]="0.1"
                    [step]="0.1"
                    [(ngModel)]="options.radius">
            </md-slider>
            <a md-fab><p>{{options.radius.toFixed(2)}}</p></a>
          </section>

          <section class="search--section inline">
            <p class="search--sectionTitle">Duration</p>
            <md-slider
                    class="search--slider"
                    [max]="50"
                    [min]="1"
                    [step]="1"
                    [(ngModel)]="options.duration">
            </md-slider>
            <a md-fab><p>{{options.duration | date: 'hh:mm'}}</p></a>
          </section>
          <section class="search--section">
          </section>
        </md-card-content>
      </md-card>

    </div>
  </md-sidenav>
  <button md-mini-fab class='main--sidenavCall' (click)="sidenav.toggle()">
    <md-icon>search</md-icon>
  </button>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
    <agm-marker *ngFor="let event of filteredEvents" [latitude]="event.latitude"
                [longitude]="event.longtitude" [title]="event.name"
                (markerClick)="goToEvent(event)">
    </agm-marker>
    <agm-marker [latitude]="lat" 
                [longitude]="lng" [iconUrl]="'/assets/person.png'">
    </agm-marker>
    <agm-circle [latitude]="center.latitude" [longitude]="center.longtitude"
                [radius]="options.radius"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true"
                (radiusChange)="onRadiusChange($event)"
                (centerChange)="onCenterChange($event)">
    </agm-circle>
  </agm-map>
</md-sidenav-container>
