.mat-tab-links {
    display: flex;
    justify-content: flex-end;
}

.mat-tab-label:first-of-type {
    margin-left: auto;
}

.messages{
    display: flex;
    flex-direction: column;
}

.align-right {
    align-self: flex-end;
}

.message {
    width: 300px;
}

main {
    overflow-y: scroll;
    min-height: 80vh;
    max-height: 80vh;
    md-card {
        width: 80%;
        margin: 10px 2px;
        padding: 10px 16px;
        &.mine {
            margin-left: auto;
        }
        .mat-card-content {
            p {
                word-break: break-word;
            }
        }
    }
}

footer {
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 15%;

    md-input-container {
        width: 70%;
        textarea {
            resize: none;
        }
    }
}