<md-tab-group>
  <md-tab label="Info">
    <app-events-info></app-events-info>
  </md-tab>
  <md-tab label="Participants">
    <app-event-participants></app-event-participants>
  </md-tab>
  <md-tab label="Chat">
    <main #main>
      <md-card *ngFor="let message of messages" [class.mine]="message.owner">
        <md-card-header [ngClass]="{' align-right': message.owner}">
          <img md-card-avatar [src]="message.userData.photoURL" />
          <md-card-title>{{message.userData.displayName}}</md-card-title>
          <md-card-subtitle>{{message.sendAt}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            {{message.message}}
          </p>
        </md-card-content>
      </md-card>
    </main>
    <footer>
      <md-input-container>
        <textarea mdInput placeholder="Type your message:" #message></textarea>
      </md-input-container>
      <button md-raised-button class="float-right" color="primary" [disabled]="message.value === ''" (click)="sendMessage(message.value)">Send</button>
    </footer>
  </md-tab>
</md-tab-group>
