<md-card class="example-card" *ngIf="event">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{event.name}}</md-card-title>
  </md-card-header>
  <img class="event-image" md-card-image [src]="event.image || 'src/assets/default-event.png'">
  <md-card-content>
    <p>
      {{event.description}}
    </p>
  </md-card-content>
  <button md-button class="example-margin" *ngIf="!isUserParticipated" (click)="participate()">Participate</button>
</md-card>
