<md-card class="example-card" *ngIf="event">
  <md-card-header>
    <a md-fab *ngIf="event.price"><p>&#8372; {{event.price}}</p></a>
    <h2>{{event.name || event.title}}</h2>
  </md-card-header>
  <img class="event-image" md-card-image [src]="event.image || '/assets/default-event.png'">
  <md-card-content>
    <p>
      {{event.description}}
    </p>
  </md-card-content>
  <md-checkbox md-button class="example-margin" *ngIf="!isUserParticipated" (click)="participate()">Participate</md-checkbox>
</md-card>
